In [1]:
# Import the necessary libraries.h
import pandas as pd 
import numpy as np
from scipy import stats
import statistics as stat
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn import preprocessing
from scipy.spatial import transform
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler 
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
import math

In [40]:
machines = pd.read_csv('machine.csv')
student_gpa = pd.read_csv('student_gpa.csv')
student_gpa

    Sophomores  Juniors
0         3.04     2.56
1         1.71     2.77
2         3.30     2.70
3         2.88     3.00
4         2.11     2.98
5         2.60     3.47
6         2.92     3.26
7         3.60     3.20
8         2.28     3.19
9         2.82     2.65
10        3.03     3.00
11        3.13     3.39
12        2.86     2.58
13        3.49      NaN
14        3.11      NaN
15        2.13      NaN
16        3.27      NaN

In [34]:
## 1
from scipy.stats import t

# separate data for the two machines
N_machine = machines['New machine']
O_machine = machines['Old machine']

# calculate sample sizes
n1 = len(N_machine)
n2 = len(O_machine)

# calculate sample means
xbar1 = np.mean(N_machine)
xbar2 = np.mean(O_machine)

# calculate sample standard deviations
s1 = np.std(N_machine, ddof=1)
s2 = np.std(O_machine, ddof=1)

# calculate pooled standard deviation
sp = np.sqrt(((n1-1)*s1**2 + (n2-1)*s2**2) / (n1+n2-2))

# calculate t-statistic
t_stat = (xbar1 - xbar2) / (sp * np.sqrt(1/n1 + 1/n2))

In [39]:
df = n1 + n2 - 2 # degrees of freedom
alpha = 0.05
t_crit = t.ppf(alpha, df)
print('t_stat = ',t_stat)
print('t_crit = ',t_crit)

t_stat =  -3.3972307061176026
t_crit =  -1.734063606617536

In [36]:
if t_stat < t_crit:
    print("Reject the null hypothesis. The new machine packs cartons faster on average than the old machine.")
else:
    print("Fail to reject the null hypothesis. There is not enough evidence to suggest that the new machine packs cartons faster on average than the old machine.")

Reject the null hypothesis. The new machine packs cartons faster on average than the old machine.

In [45]:
Sophomores = student_gpa['Sophomores']
Juniors = student_gpa['Juniors']

In [48]:
# separate data for the two groups
Sophomores = student_gpa['Sophomores']
Juniors = student_gpa['Juniors']

# calculate sample sizes
n1 = len(Sophomores)
n2 = len(Juniors)

# calculate sample means
xbar1 = np.mean(Sophomores)
xbar2 = np.mean(Juniors)

# calculate sample standard deviations
s1 = np.std(Sophomores, ddof=1)
s2 = np.std(Juniors, ddof=1)

In [49]:
numerator = xbar1 - xbar2 - 0
denominator = np.sqrt(s1**2/n1 + s2**2/n2)
t_stat = numerator / denominator

In [50]:
print('t_stat = ',t_stat)
print('t_crit = ',t_crit)

t_stat =  -0.9595578368832407
t_crit =  -1.734063606617536

In [51]:
if t_stat < t_crit:
    print("Reject the null hypothesis. The new machine packs cartons faster on average than the old machine.")
else:
    print("Fail to reject the null hypothesis. There is not enough evidence to suggest that the new machine packs cartons faster on average than the old machine.")

Fail to reject the null hypothesis. There is not enough evidence to suggest that the new machine packs cartons faster on average than the old machine.