In [2]:
# Import the necessary libraries.h
import pandas as pd 
import numpy as np
from scipy import stats
import statistics as stat
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn import preprocessing
from scipy.spatial import transform
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler 
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [3]:
categorical = pd.read_csv("categorical.csv")
numerical = pd.read_csv("numerical.csv")
target = pd.read_csv("target.csv")

In [5]:
from sklearn.preprocessing import LabelEncoder
categorical_encoded = categorical.apply(LabelEncoder().fit_transform)
categorical_encoded

,STATE,CLUSTER,HOMEOWNR,GENDER,DATASRCE,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,3,35,0,0,2,0,1,2,3,1,...,36,11,14,7,14,1,0,11,18,10
1,0,13,0,1,2,0,3,0,2,0,...,51,1,15,9,15,11,0,11,22,9
2,7,42,1,1,2,0,1,2,1,1,...,0,1,13,10,12,6,0,11,19,0
3,0,43,1,0,2,0,1,2,1,1,...,27,0,9,10,14,10,0,11,16,1
4,1,15,0,0,2,0,2,0,2,1,...,19,0,15,9,16,0,1,0,8,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,11,26,0,1,2,0,3,2,0,1,...,0,1,18,1,16,1,1,1,25,1
95408,8,23,0,1,2,0,2,0,0,0,...,49,0,18,2,16,2,1,2,25,2
95409,5,29,0,1,2,0,1,1,0,2,...,37,0,18,2,15,0,1,9,23,9
95410,0,23,0,0,1,0,2,0,0,0,...,39,4,12,10,16,7,2,0,15,11
95411,7,23,1,0,2,0,3,2,0,0,...,17,0,10,11,13,11,1,11,17,2

In [6]:
# Combine the numerical and encoded categorical data
X = pd.concat([numerical, categorical_encoded], axis=1)
X

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,0,60.000000,5,9,0,0,39,34,18,10,...,36,11,14,7,14,1,0,11,18,10
1,1,46.000000,6,9,16,0,15,55,11,6,...,51,1,15,9,15,11,0,11,22,9
2,1,61.611649,3,1,2,0,20,29,33,6,...,0,1,13,10,12,6,0,11,19,0
3,0,70.000000,1,4,2,0,23,14,31,3,...,27,0,9,10,14,10,0,11,16,1
4,0,78.000000,3,2,60,1,28,9,53,26,...,19,0,15,9,16,0,1,0,8,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,0,1,18,1,16,1,1,1,25,1
95408,1,48.000000,7,9,1,0,31,43,19,4,...,49,0,18,2,16,2,1,2,25,2
95409,1,60.000000,5,9,0,0,18,46,20,7,...,37,0,18,2,15,0,1,9,23,9
95410,0,58.000000,7,9,0,0,28,35,20,9,...,39,4,12,10,16,7,2,0,15,11
95411,2,80.000000,5,8,3,1,33,22,27,8,...,17,0,10,11,13,11,1,11,17,2

In [12]:
#target
target = target['TARGET_B']
target

KeyError: 'TARGET_B'

In [13]:
from imblearn.over_sampling import SMOTE
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, target, test_size=0.3, random_state=42)

# Upsample the minority class using SMOTE
sm = SMOTE(random_state=42)
X_train_res, y_train_res = sm.fit_resample(X_train, y_train)

# Fit a Random Forests classifier to the upsampled training data
rf = RandomForestClassifier(random_state=42)
rf.fit(X_train_res, y_train_res)

# Make predictions on the testing data
y_pred = rf.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [14]:
from sklearn.model_selection import GridSearchCV
param_grid = {
    'n_estimators': [80, 150],
    'min_samples_split': [2, 4],
    'min_samples_leaf' : [1, 2],
    'max_features': ['sqrt']

    }
clf = RandomForestClassifier(random_state=100)

grid_search = GridSearchCV(clf, param_grid, cv=5,return_train_score=True,n_jobs=-1)
grid_search.fit(X_train,y_train)
grid_search.best_params_ #To check the best set of parameters returned

{'max_features': 'sqrt',
 'min_samples_leaf': 2,
 'min_samples_split': 2,
 'n_estimators': 80}

In [15]:
from sklearn.model_selection import cross_val_score
clf = RandomForestClassifier(random_state=0, max_features='sqrt', min_samples_leaf=1, min_samples_split=4, n_estimators=100)
cross_val_scores = cross_val_score(clf, X_train, y_train, cv=10)
print(np.mean(cross_val_scores))

0.9487333069939211