In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
df = pd.read_csv('Songs_Data.csv')

df.head()

,Title,Artist,LAST WEEK,PEAK POS.,WKS ON CHART
0,Flowers,Miley Cyrus,1,1,6
1,Kill Bill,SZA,2,2,11
2,"Boy's A Liar, Pt. 2",PinkPantheress & Ice Spice,4,3,3
3,Creepin',"Metro Boomin, The Weeknd & 21 Savage",3,3,12
4,Last Night,Morgan Wallen,5,3,4

Apply the same logic to other "groups" of songs: the best songs from a decade or from a country / culture / language / genre.

By genre

In [9]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By

# URL of the Wikipedia page
url = 'https://en.wikipedia.org/wiki/Lists_of_songs'

# Create a new instance of the Chrome driver
driver = webdriver.Chrome()

# Navigate to the URL
driver.get(url)

# Find all list items using the XPath expression
list_items = driver.find_elements(By.XPATH, '//*[@id="mw-content-text"]/div[1]/div[4]/ul/li')

# Create an empty list to store the text content of each list item
texts = []

# Loop through each list item and get its text content
for item in list_items:
    text = item.text.strip()
    texts.append(text)

# Create a Pandas DataFrame from the list of text content
Genre_wiki = pd.DataFrame({'Genre': texts})

# Print the DataFrame
print(df)

# Close the driver
driver.quit()

                                              Genre
0                                   Christmas music
1   List of calypsos with sociopolitical influences
2                           List of Eurodance songs
3                  List of Hi-NRG artists and songs
4             The History of Rock and Roll contents
5             List of Italo disco artists and songs
6                            List of jazz standards
7       List of Latin freestyle musicians and songs
8                              List of mashup songs
9                            List of murder ballads
10             List of post-disco artists and songs
11              List of power pop artists and songs
12                        List of quiet storm songs
13                       List of rock instrumentals
14              List of soft rock artists and songs
15                     List of songs based on poems
16                          List of UK garage songs

In [11]:
# URL of the Wikipedia page
url = 'https://en.wikipedia.org/wiki/Lists_of_songs'

# Create a new instance of the Chrome driver
driver = webdriver.Chrome()

# Navigate to the URL
driver.get(url)

# Find all list items using the new XPath expression
list_items = driver.find_elements(By.XPATH, '//*[@id="mw-content-text"]/div[1]/div[2]/ul/li')

# Create an empty list to store the text content of each list item
texts = []

# Loop through each list item and get its text content
for item in list_items:
    text = item.text.strip()
    texts.append(text)

# Create a Pandas DataFrame from the list of text content
By_artist = pd.DataFrame({'Artist': texts})

# Print the DataFrame
print(By_artist)

# Close the driver
driver.quit()

                                            Artist
0           List of songs recorded by Arijit Singh
1                    List of songs recorded by 2PM
2                    List of songs recorded by 311
3                List of songs recorded by 4Minute
4                    List of songs recorded by 911
..                                             ...
302           List of songs recorded by Wolf Alice
303           List of songs recorded by Wolfmother
304          List of songs recorded by Alka Yagnik
305  List of songs recorded by "Weird Al" Yankovic
306              List of songs recorded by ZOEgirl

[307 rows x 1 columns]

For exercise purposes I'll get you a list of the top 600 greatest rock songs of all time.

In [12]:
url = 'https://digitaldreamdoor.com/pages/best_songsddd.html'

In [14]:
from selenium import webdriver
from selenium.webdriver.common.by import By

# URL of the webpage
url = 'https://digitaldreamdoor.com/pages/best_songsddd.html'

# Create a new instance of the Chrome driver
driver = webdriver.Chrome()

# Navigate to the URL
driver.get(url)

# Find the table element using the XPath expression
try:
    table_element = driver.find_element(By.XPATH, '/html/body/table/tbody/tr[3]/td/table/tbody/tr[4]/td/table/tbody/tr[2]/td/div[1]')
    table_text = table_element.text.strip()
except:
    table_text = "No table element found."

# Print the text content of the table element
print(table_text)

# Close the driver
driver.quit()

1. Respect - Aretha Franklin
  2. Johnny B. Goode - Chuck Berry
  3. Billie Jean - Michael Jackson
  4. Rock Around The Clock - Bill Haley & His Comets
  5. Stairway to Heaven - Led Zeppelin
  6. Louie Louie - The Kingsmen
  7. I Heard It Through The Grapevine - Marvin Gaye / Gladys Knight & The Pips
  8. (I Can't Get No) Satisfaction - Rolling Stones
  9. Jailhouse Rock - Elvis Presley
10. Like A Rolling Stone - Bob Dylan
11. Hey Jude - Beatles
12. Good Vibrations - Beach Boys
13. Tutti-Frutti - Little Richard
14. What'd I Say - Ray Charles
15. Hotel California - Eagles
16. You've Lost That Lovin' Feelin' - Righteous Brothers
17. My Girl - Temptations
18. Imagine - John Lennon
19. What's Going On - Marvin Gaye
20. Smells Like Teen Spirit - Nirvana
21. Hound Dog - Elvis Presley / Big Mama Thornton
22. Born to Run - Bruce Springsteen
23. Light My Fire - Doors
24. Superstition - Stevie Wonder
25. Layla - Derek and the Dominos
26. Bohemian Rhapsody - Queen
27. A Day In The Life - Beatles
28. Summertime Blues - Eddie Cochran / Blue Cheer / The Who
29. You Really Got Me - Kinks / Van Halen
30. Bridge Over Troubled Water - Simon and Garfunkel
31. Let's Stay Together - Al Green
32. Long Tall Sally - Little Richard
33. Purple Haze - Jimi Hendrix Experience
34. She Loves You - Beatles
35. Whole Lot of Shakin' Going On - Jerry Lee Lewis
36. That'll Be The Day - Buddy Holly & the Crickets
37. Every Breath You Take - Police
38. Hey Ya - OutKast
39. Maybellene - Chuck Berry
40. Bo Diddley - Bo Diddley
41. Papa's Got A Brand New Bag - James Brown
42. When Doves Cry - Prince
43. My Generation - The Who
44. Losing My Religion - R.E.M.
45. Sunshine Of Your Love - Cream
46. Whole Lotta Love - Led Zeppelin
47. One - U2
48. A Change Is Gonna Come - Sam Cooke
49. All Along The Watchtower - Jimi Hendrix Experience
50. The Message - Grandmaster Flash & The Furious Five
51. Great Balls Of Fire - Jerry Lee Lewis
52. In The Midnight Hour - Wilson Pickett
53. Mr. Tambourine Man - Byrds / Bob Dylan
54. Proud Mary - Creedence Clearwater Revival / Ike & Tina Turner
55. Shake, Rattle And Roll - Joe Turner / Bill Haley and His Comets
56. Walk This Way - Aerosmith / Run-D.M.C.
57. Let It Be - Beatles
58. Maggie May - Rod Stewart
59. American Pie - Don McLean
60. (Sittin' On) The Dock Of The Bay - Otis Redding
61. Blue Suede Shoes - Carl Perkins / Elvis Presley
62. Don't Be Cruel - Elvis Presley
63. Won't Get Fooled Again - The Who
64. Stayin' Alive - Bee Gees
65. Free Bird - Lynyrd Skynyrd
66. Nuthin' But a "G" Thang - Dr. Dre & Snoop Dogg
67. Brown Sugar - Rolling Stones
68. Let's Get It On - Marvin Gaye
69. When A Man Loves A Woman - Percy Sledge
70. I Want To Hold Your Hand - Beatles
71. Good Rockin' Tonight - Wynonie Harris / Roy Brown / Elvis Presley
72. Stand By Me - Ben E. King
73. I Will Survive - Gloria Gaynor
74. Super Freak - Rick James
75. A Whiter Shade Of Pale - Procol Harum
76. Be My Baby - Ronettes
77. Go Your Own Way - Fleetwood Mac
78. Papa Was a Rollin' Stone - Temptations
79. House Of The Rising Sun - Animals
80. Yesterday - Beatles
81. Where Did Our Love Go - Supremes
82. Rapper's Delight - Sugarhill Gang
83. I Want You Back - Jackson 5
84. I Love Rock 'N' Roll - Joan Jett & The Blackhearts
85. Don't You Want Me? - Human League
86. Jeremy - Pearl Jam
87. Heartbreak Hotel - Elvis Presley
88. Like a Virgin - Madonna
89. Beat It - Michael Jackson
90. Sweet Child O' Mine - Guns N' Roses
91. Under the Bridge - Red Hot Chili Peppers
92. Your Song - Elton John
93. Dancing Queen - ABBA
94. The Sounds Of Silence - Simon & Garfunkel
95. Don't Stop Believin' - Journey
96. Soul Man - Sam & Dave
97. You Shook Me All Night Long - AC/DC
98. Bye Bye Love - Everly Brothers
99. Earth Angel - Penguins
100. Crazy - Gnarls Barkley

In [15]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

# URL of the webpage
url = 'https://digitaldreamdoor.com/pages/best_songsddd.html'

# Create a new instance of the Chrome driver
driver = webdriver.Chrome()

# Navigate to the URL
driver.get(url)

# Create an empty list to store the text content of the table elements
table_texts = []

# Loop through the table elements using the XPath expression
for i in range(1, 7):
    try:
        xpath = f'/html/body/table/tbody/tr[3]/td/table/tbody/tr[4]/td/table/tbody/tr[2]/td/div[{i}]'
        table_element = driver.find_element(By.XPATH, xpath)
        table_text = table_element.text.strip()
        table_texts.append(table_text)
    except:
        pass

# Create a dataframe from the list of table texts
df = pd.DataFrame(table_texts, columns=['Table Text'])

# Print the dataframe
print(df)

# Close the driver
driver.quit()

                                          Table Text
0  1. Respect - Aretha Franklin\n  2. Johnny B. G...
1  101. Sexual Healing - Marvin Gaye\n102. Midnig...
2  201. Jump - Van Halen\n202. Crazy in Love - Be...
3  301. In the Air Tonight - Phil Collins\n302. A...
4  401. Tangled Up in Blue - Bob Dylan\n402. Lone...
5  501. Everybody Wants To Rule the World - Tears...

In [ ]:
 1. Respect - Aretha Franklin\n  2. Johnny B. G...

In [18]:
# Split the text in each row at the "\n" character and return as a new row
new_rows = df['Table Text'].apply(lambda x: pd.Series(x.split("\n")))

# Concatenate the original dataframe and the new rows
df_concat = pd.concat([df, new_rows], axis=1).drop('Table Text', axis=1)
df_concat

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1. Respect - Aretha Franklin,2. Johnny B. Goode - Chuck Berry,3. Billie Jean - Michael Jackson,4. Rock Around The Clock - Bill Haley & His ...,5. Stairway to Heaven - Led Zeppelin,6. Louie Louie - The Kingsmen,7. I Heard It Through The Grapevine - Marvin...,8. (I Can't Get No) Satisfaction - Rolling S...,9. Jailhouse Rock - Elvis Presley,10. Like A Rolling Stone - Bob Dylan,...,91. Under the Bridge - Red Hot Chili Peppers,92. Your Song - Elton John,93. Dancing Queen - ABBA,94. The Sounds Of Silence - Simon & Garfunkel,95. Don't Stop Believin' - Journey,96. Soul Man - Sam & Dave,97. You Shook Me All Night Long - AC/DC,98. Bye Bye Love - Everly Brothers,99. Earth Angel - Penguins,100. Crazy - Gnarls Barkley
1,101. Sexual Healing - Marvin Gaye,102. Midnight Train to Georgia - Gladys Knight...,103. Why Do Fools Fall In Love - Frankie Lymon...,104. Good Golly Miss Molly - Little Richard,105. More Than a Feeling - Boston,106. Just My Imagination - Temptations,107. Sweet Dreams - Eurythmics,108. Call Me - Blondie,109. Celebration - Kool & The Gang,110. Another One Bites the Dust - Queen,...,191. Will You Love Me Tomorrow - Shirelles,192. Georgia On My Mind - Ray Charles,193. Dazed And Confused - Led Zeppelin,194. Don't Stop 'Til You Get Enough - Michael ...,195. I Still Haven't Found What I'm Looking Fo...,196. Space Oddity - David Bowie,197. People Get Ready - Impressions,"198. Suite: Judy Blue Eyes - Crosby, Stills & ...",199. All Right Now - Free,200. Paradise By the Dashboard Light - Meat Loaf
2,201. Jump - Van Halen,202. Crazy in Love - Beyoncé (feat. Jay-Z),203. Love Will Tear Us Apart - Joy Division,204. Tears In Heaven - Eric Clapton,205. Shout - Isley Brothers / Otis Day and the...,206. Get Ur Freak On - Missy Misdemeanor Elliot,207. I Walk The Line - Johnny Cash and the Ten...,208. Bring It On Home To Me - Sam Cooke,209. You've Really Got A Hold On Me - Miracles,210. Good Times - Chic,...,291. Y.M.C.A. - Village People,292. Fantasy - Mariah Carey,293. My Name Is - Eminem,294. I Got You (I Feel Good) - James Brown,295. Changes - David Bowie,296. The Twist - Chubby Checker,297. Killing In the Name - Rage Against The Ma...,298. Iris - Goo Goo Dolls,299. Jesus Walks - Kanye West,300. Folsom Prison Blues - Johnny Cash and the...
3,301. In the Air Tonight - Phil Collins,302. Ain't No Sunshine - Bill Withers,303. Song 2 - Blur,304. Come As You Are - Nirvana,305. How Soon Is Now? - The Smiths,306. Money - Pink Floyd,307. Aqualung - Jethro Tull,308. Kiss - Prince,309. La Bamba - Ritchie Valens / Los Lobos,310. At Last - Etta James,...,391. School's Out - Alice Cooper,392. Juicy - The Notorious B.I.G.,393. The Boys of Summer - Don Henley,394. Tired of Being Alone - Al Green,395. Only The Lonely - Roy Orbison,396. Kansas City - Wilbert Harrison,397. Feel Good Inc. - Gorillaz,398. Summer of '69 - Bryan Adams,399. Unchained Melody - Righteous Brothers / A...,400. Basket Case - Green Day
4,401. Tangled Up in Blue - Bob Dylan,402. Lonely Teardrops - Jackie Wilson,403. Push It - Salt-N-Pepa,404. Nothing Else Matters - Metallica,405. Walk On By - Dionne Warwick / Isaac Hayes,406. Viva La Vida - Coldplay,407. Gold Digger - Kanye West,408. Waterloo Sunset - Kinks,409. Crying In The Chapel - Orioles / Elvis Pr...,410. Up On The Roof - Drifters,...,491. Train in Vain (Stand By Me) - The Clash,492. Willie And The Hand Jive - Johnny Otis Show,493. Brick House - The Commodores,"494. Me, Myself and I - De La Soul",495. I Got You Babe - Sonny & Cher,496. Tequila - Champs,497. No Scrubs - TLC,498. Take It Easy - Eagles,499. I Never Loved A Man (The Way I Love You) ...,500. Africa - Toto / Weezer
5,501. Everybody Wants To Rule the World - Tears...,502. Ain't No Mountain High Enough - Marvin Ga...,"503. It's A Man's, Man's, Man's World - James ...",504. Come Together - The Beatles,505. Autobahn - Kraftwerk,506. Under Pressure - Queen & David Bowie,507. Paid In Full - Eric B. & Rakim,508. Royals - Lorde,509. I Want It That Way - Backstreet Boys,510. Hallelujah - Jeff Buckley / Leonard Cohen,...,591. SexyBack - Justin Timberlake,592. Since U Been Gone - Kelly Clarkson,593. Runaway - Kanye West (feat. Pusha T),594. Unfinished Sympathy - Massive Attack,595. Stay - Maurice Williams & the Zodiacs / J...,"596. Rock And Roll, Part 2 - Gary Glitter","597. Walk, Don't Run - Ventures",598. Build Me Up Buttercup - The Foundations,599. Midnight City - M83,600. Dancing On My Own - Robyn

In [25]:
# Reshape the dataframe into a single column using melt
df_reshaped = pd.melt(df_concat, value_name='Text').drop('variable', axis=1)

# Print the resulting dataframe
df_reshaped

                                                  Text
0                         1. Respect - Aretha Franklin
1                    101. Sexual Healing - Marvin Gaye
2                                201. Jump - Van Halen
3               301. In the Air Tonight - Phil Collins
4                  401. Tangled Up in Blue - Bob Dylan
..                                                 ...
595   200. Paradise By the Dashboard Light - Meat Loaf
596  300. Folsom Prison Blues - Johnny Cash and the...
597                       400. Basket Case - Green Day
598                        500. Africa - Toto / Weezer
599                     600. Dancing On My Own - Robyn

[600 rows x 1 columns]

In [28]:
df_reshaped

                                                  Text
0                         1. Respect - Aretha Franklin
1                    101. Sexual Healing - Marvin Gaye
2                                201. Jump - Van Halen
3               301. In the Air Tonight - Phil Collins
4                  401. Tangled Up in Blue - Bob Dylan
..                                                 ...
595   200. Paradise By the Dashboard Light - Meat Loaf
596  300. Folsom Prison Blues - Johnny Cash and the...
597                       400. Basket Case - Green Day
598                        500. Africa - Toto / Weezer
599                     600. Dancing On My Own - Robyn

[600 rows x 1 columns]

In [29]:
col_1 = []
col_2 = []

# loop through each row in the 'Text' column
for row in df_reshaped['Text']:
    # split the text by separator "."
    row_split = row.split(".")
    # add the first element to col_1
    col_1.append(row_split[0])
    # add the second element to col_2
    col_2.append(row_split[1])

# add the new columns to the dataframe
df_reshaped['Column_1'] = col_1
df_reshaped['Column_2'] = col_2

# print the updated dataframe
print(df_reshaped)

                                                  Text Column_1  \
0                         1. Respect - Aretha Franklin        1
1                    101. Sexual Healing - Marvin Gaye      101
2                                201. Jump - Van Halen      201
3               301. In the Air Tonight - Phil Collins      301
4                  401. Tangled Up in Blue - Bob Dylan      401
..                                                 ...      ...
595   200. Paradise By the Dashboard Light - Meat Loaf      200
596  300. Folsom Prison Blues - Johnny Cash and the...      300
597                       400. Basket Case - Green Day      400
598                        500. Africa - Toto / Weezer      500
599                     600. Dancing On My Own - Robyn      600

                                              Column_2
0                            Respect - Aretha Franklin
1                         Sexual Healing - Marvin Gaye
2                                     Jump - Van Halen
3                    In the Air Tonight - Phil Collins
4                       Tangled Up in Blue - Bob Dylan
..                                                 ...
595        Paradise By the Dashboard Light - Meat Loaf
596   Folsom Prison Blues - Johnny Cash and the Ten...
597                            Basket Case - Green Day
598                             Africa - Toto / Weezer
599                          Dancing On My Own - Robyn

[600 rows x 3 columns]

In [30]:
# Split Column_2 by separator " - "
df_reshaped[['Column_2A', 'Column_2B']] = df_reshaped['Column_2'].str.split(' - ', expand=True)
df_reshaped

,Text,Column_1,Column_2,Column_2A,Column_2B
0,1. Respect - Aretha Franklin,1,Respect - Aretha Franklin,Respect,Aretha Franklin
1,101. Sexual Healing - Marvin Gaye,101,Sexual Healing - Marvin Gaye,Sexual Healing,Marvin Gaye
2,201. Jump - Van Halen,201,Jump - Van Halen,Jump,Van Halen
3,301. In the Air Tonight - Phil Collins,301,In the Air Tonight - Phil Collins,In the Air Tonight,Phil Collins
4,401. Tangled Up in Blue - Bob Dylan,401,Tangled Up in Blue - Bob Dylan,Tangled Up in Blue,Bob Dylan
...,...,...,...,...,...
595,200. Paradise By the Dashboard Light - Meat Loaf,200,Paradise By the Dashboard Light - Meat Loaf,Paradise By the Dashboard Light,Meat Loaf
596,300. Folsom Prison Blues - Johnny Cash and the...,300,Folsom Prison Blues - Johnny Cash and the Ten...,Folsom Prison Blues,Johnny Cash and the Tennessee Two
597,400. Basket Case - Green Day,400,Basket Case - Green Day,Basket Case,Green Day
598,500. Africa - Toto / Weezer,500,Africa - Toto / Weezer,Africa,Toto / Weezer
599,600. Dancing On My Own - Robyn,600,Dancing On My Own - Robyn,Dancing On My Own,Robyn

In [36]:
# Drop the first column
df_reshaped = df_reshaped.drop(df_reshaped.columns[0], axis=1)

In [38]:
df_reshaped = df_reshaped.drop(df_reshaped.columns[1], axis=1)

,Column_1,Column_2A,Column_2B
0,1,Respect,Aretha Franklin
1,101,Sexual Healing,Marvin Gaye
2,201,Jump,Van Halen
3,301,In the Air Tonight,Phil Collins
4,401,Tangled Up in Blue,Bob Dylan
...,...,...,...
595,200,Paradise By the Dashboard Light,Meat Loaf
596,300,Folsom Prison Blues,Johnny Cash and the Tennessee Two
597,400,Basket Case,Green Day
598,500,Africa,Toto / Weezer
599,600,Dancing On My Own,Robyn

In [40]:

df_reshaped = df_reshaped.rename(columns={'Column_1': 'Rank_Rock',
                        'Column_2A': 'Song',
                        'Column_2B': 'Band'})

In [42]:
df_reshaped = df_reshaped.drop(df_reshaped.columns[0], axis=1)
df_reshaped

                                 Song                               Band
0                             Respect                    Aretha Franklin
1                      Sexual Healing                        Marvin Gaye
2                                Jump                          Van Halen
3                  In the Air Tonight                       Phil Collins
4                  Tangled Up in Blue                          Bob Dylan
..                                ...                                ...
595   Paradise By the Dashboard Light                          Meat Loaf
596               Folsom Prison Blues  Johnny Cash and the Tennessee Two
597                       Basket Case                          Green Day
598                            Africa                      Toto / Weezer
599                 Dancing On My Own                              Robyn

[600 rows x 2 columns]

Retrieve an arbitrary Wikipedia page of "Python" and create a list of links on that page: url ='https://en.wikipedia.org/wiki/Python'

In [44]:
# URL of the Wikipedia page you want to scrape
url = "https://en.wikipedia.org/wiki/Python"

# Send a GET request to the URL and store the response
response = requests.get(url)

# Parse the HTML content of the page using BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

# Find all the hyperlink(<a>) tags on the page
links = soup.find_all("a")

# Extract the href attribute of each <a> tag to get the link URL
link_urls = [link.get("href") for link in links]

# Print out the list of link URLs
link_urls

['#bodyContent',
 '/wiki/Main_Page',
 '/wiki/Special:Search',
 '/w/index.php?title=Special:CreateAccount&returnto=Python',
 '/w/index.php?title=Special:UserLogin&returnto=Python',
 '/w/index.php?title=Special:CreateAccount&returnto=Python',
 '/w/index.php?title=Special:UserLogin&returnto=Python',
 '/wiki/Help:Introduction',
 '/wiki/Special:MyContributions',
 '/wiki/Special:MyTalk',
 '/wiki/Main_Page',
 '/wiki/Wikipedia:Contents',
 '/wiki/Portal:Current_events',
 '/wiki/Special:Random',
 '/wiki/Wikipedia:About',
 '//en.wikipedia.org/wiki/Wikipedia:Contact_us',
 'https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&utm_medium=sidebar&utm_campaign=C13_en.wikipedia.org&uselang=en',
 '/wiki/Help:Contents',
 '/wiki/Help:Introduction',
 '/wiki/Wikipedia:Community_portal',
 '/wiki/Special:RecentChanges',
 '/wiki/Wikipedia:File_upload_wizard',
 '/wiki/Special:WhatLinksHere/Python',
 '/wiki/Special:RecentChangesLinked/Python',
 '/wiki/Wikipedia:File_Upload_Wizard',
 '/wiki/Special:SpecialPages',
 '/w/index.php?title=Python&oldid=1139211777',
 '/w/index.php?title=Python&action=info',
 '/w/index.php?title=Special:CiteThisPage&page=Python&id=1139211777&wpFormIdentifier=titleform',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452',
 '/w/index.php?title=Special:DownloadAsPdf&page=Python&action=show-download-screen',
 '/w/index.php?title=Python&printable=yes',
 'https://commons.wikimedia.org/wiki/Category:Python',
 '#p-lang-btn',
 '#',
 '#Snakes',
 '#Computing',
 '#People',
 '#Roller_coasters',
 '#Vehicles',
 '#Weaponry',
 '#Other_uses',
 '#See_also',
 'https://af.wikipedia.org/wiki/Python',
 'https://als.wikipedia.org/wiki/Python',
 'https://ar.wikipedia.org/wiki/%D8%A8%D8%A7%D9%8A%D8%AB%D9%88%D9%86_(%D8%AA%D9%88%D8%B6%D9%8A%D8%AD)',
 'https://az.wikipedia.org/wiki/Python_(d%C9%99qiql%C9%99%C5%9Fdirm%C9%99)',
 'https://bn.wikipedia.org/wiki/%E0%A6%AA%E0%A6%BE%E0%A6%87%E0%A6%A5%E0%A6%A8_(%E0%A6%A6%E0%A7%8D%E0%A6%AC%E0%A7%8D%E0%A6%AF%E0%A6%B0%E0%A7%8D%E0%A6%A5%E0%A6%A4%E0%A6%BE_%E0%A6%A8%E0%A6%BF%E0%A6%B0%E0%A6%B8%E0%A6%A8)',
 'https://be.wikipedia.org/wiki/Python',
 'https://bg.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%BF%D0%BE%D1%8F%D1%81%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5)',
 'https://cs.wikipedia.org/wiki/Python_(rozcestn%C3%ADk)',
 'https://da.wikipedia.org/wiki/Python',
 'https://de.wikipedia.org/wiki/Python',
 'https://eo.wikipedia.org/wiki/Pitono_(apartigilo)',
 'https://eu.wikipedia.org/wiki/Python_(argipena)',
 'https://fa.wikipedia.org/wiki/%D9%BE%D8%A7%DB%8C%D8%AA%D9%88%D9%86',
 'https://fr.wikipedia.org/wiki/Python',
 'https://ko.wikipedia.org/wiki/%ED%8C%8C%EC%9D%B4%EC%84%A0',
 'https://hr.wikipedia.org/wiki/Python_(razdvojba)',
 'https://io.wikipedia.org/wiki/Pitono',
 'https://id.wikipedia.org/wiki/Python',
 'https://ia.wikipedia.org/wiki/Python_(disambiguation)',
 'https://is.wikipedia.org/wiki/Python_(a%C3%B0greining)',
 'https://it.wikipedia.org/wiki/Python_(disambigua)',
 'https://he.wikipedia.org/wiki/%D7%A4%D7%99%D7%AA%D7%95%D7%9F',
 'https://ka.wikipedia.org/wiki/%E1%83%9E%E1%83%98%E1%83%97%E1%83%9D%E1%83%9C%E1%83%98_(%E1%83%9B%E1%83%A0%E1%83%90%E1%83%95%E1%83%90%E1%83%9A%E1%83%9B%E1%83%9C%E1%83%98%E1%83%A8%E1%83%95%E1%83%9C%E1%83%94%E1%83%9A%E1%83%9D%E1%83%95%E1%83%90%E1%83%9C%E1%83%98)',
 'https://kg.wikipedia.org/wiki/Mboma_(nyoka)',
 'https://la.wikipedia.org/wiki/Python_(discretiva)',
 'https://lb.wikipedia.org/wiki/Python',
 'https://hu.wikipedia.org/wiki/Python_(egy%C3%A9rtelm%C5%B1s%C3%ADt%C5%91_lap)',
 'https://mr.wikipedia.org/wiki/%E0%A4%AA%E0%A4%BE%E0%A4%AF%E0%A4%A5%E0%A5%89%E0%A4%A8_(%E0%A4%86%E0%A4%9C%E0%A5%8D%E0%A4%9E%E0%A4%BE%E0%A4%B5%E0%A4%B2%E0%A5%80_%E0%A4%AD%E0%A4%BE%E0%A4%B7%E0%A4%BE)',
 'https://nl.wikipedia.org/wiki/Python',
 'https://ja.wikipedia.org/wiki/%E3%83%91%E3%82%A4%E3%82%BD%E3%83%B3',
 'https://no.wikipedia.org/wiki/Pyton',
 'https://pl.wikipedia.org/wiki/Pyton',
 'https://pt.wikipedia.org/wiki/Python_(desambigua%C3%A7%C3%A3o)',
 'https://ru.wikipedia.org/wiki/Python_(%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D1%8F)',
 'https://sk.wikipedia.org/wiki/Python',
 'https://sr.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%B2%D0%B8%D1%88%D0%B5%D0%B7%D0%BD%D0%B0%D1%87%D0%BD%D0%B0_%D0%BE%D0%B4%D1%80%D0%B5%D0%B4%D0%BD%D0%B8%D1%86%D0%B0)',
 'https://sh.wikipedia.org/wiki/Python',
 'https://fi.wikipedia.org/wiki/Python',
 'https://sv.wikipedia.org/wiki/Pyton',
 'https://th.wikipedia.org/wiki/%E0%B9%84%E0%B8%9E%E0%B8%97%E0%B8%AD%E0%B8%99',
 'https://tr.wikipedia.org/wiki/Python_(anlam_ayr%C4%B1m%C4%B1)',
 'https://uk.wikipedia.org/wiki/%D0%9F%D1%96%D1%84%D0%BE%D0%BD',
 'https://ur.wikipedia.org/wiki/%D9%BE%D8%A7%D8%A6%DB%8C%D8%AA%DA%BE%D9%88%D9%86',
 'https://vi.wikipedia.org/wiki/Python',
 'https://zh.wikipedia.org/wiki/Python_(%E6%B6%88%E6%AD%A7%E4%B9%89)',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452#sitelinks-wikipedia',
 '/wiki/Python',
 '/wiki/Talk:Python',
 '/wiki/Python',
 '/w/index.php?title=Python&action=edit',
 '/w/index.php?title=Python&action=history',
 '/wiki/Python',
 '/w/index.php?title=Python&action=edit',
 '/w/index.php?title=Python&action=history',
 'https://en.wiktionary.org/wiki/Python',
 'https://en.wiktionary.org/wiki/python',
 '/w/index.php?title=Python&action=edit&section=1',
 '/wiki/Pythonidae',
 '/wiki/Python_(genus)',
 '/wiki/Python_(mythology)',
 '/w/index.php?title=Python&action=edit&section=2',
 '/wiki/Python_(programming_language)',
 '/wiki/CMU_Common_Lisp',
 '/wiki/PERQ#PERQ_3',
 '/w/index.php?title=Python&action=edit&section=3',
 '/wiki/Python_of_Aenus',
 '/wiki/Python_(painter)',
 '/wiki/Python_of_Byzantium',
 '/wiki/Python_of_Catana',
 '/wiki/Python_Anghelo',
 '/w/index.php?title=Python&action=edit&section=4',
 '/wiki/Python_(Efteling)',
 '/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 '/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 '/w/index.php?title=Python&action=edit&section=5',
 '/wiki/Python_(automobile_maker)',
 '/wiki/Python_(Ford_prototype)',
 '/w/index.php?title=Python&action=edit&section=6',
 '/wiki/Python_(missile)',
 '/wiki/Python_(nuclear_primary)',
 '/wiki/Colt_Python',
 '/w/index.php?title=Python&action=edit&section=7',
 '/wiki/Python_(codename)',
 '/wiki/Python_(film)',
 '/wiki/Monty_Python',
 '/wiki/Python_(Monty)_Pictures',
 '/wiki/Timon_of_Phlius',
 '/w/index.php?title=Python&action=edit&section=8',
 '/wiki/Pyton',
 '/wiki/Pithon',
 '/wiki/File:Disambig_gray.svg',
 '/wiki/Help:Disambiguation',
 'https://en.wikipedia.org/w/index.php?title=Special:WhatLinksHere/Python&namespace=0',
 'https://en.wikipedia.org/w/index.php?title=Python&oldid=1139211777',
 '/wiki/Help:Category',
 '/wiki/Category:Disambiguation_pages',
 '/wiki/Category:Human_name_disambiguation_pages',
 '/wiki/Category:Disambiguation_pages_with_given-name-holder_lists',
 '/wiki/Category:Short_description_is_different_from_Wikidata',
 '/wiki/Category:All_article_disambiguation_pages',
 '/wiki/Category:All_disambiguation_pages',
 '/wiki/Category:Animal_common_name_disambiguation_pages',
 '//en.wikipedia.org/wiki/Wikipedia:Text_of_the_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License',
 '//creativecommons.org/licenses/by-sa/3.0/',
 '//foundation.wikimedia.org/wiki/Terms_of_Use',
 '//foundation.wikimedia.org/wiki/Privacy_policy',
 '//www.wikimediafoundation.org/',
 'https://foundation.wikimedia.org/wiki/Privacy_policy',
 '/wiki/Wikipedia:About',
 '/wiki/Wikipedia:General_disclaimer',
 '//en.wikipedia.org/wiki/Wikipedia:Contact_us',
 '//en.m.wikipedia.org/w/index.php?title=Python&mobileaction=toggle_view_mobile',
 'https://developer.wikimedia.org',
 'https://stats.wikimedia.org/#/en.wikipedia.org',
 'https://foundation.wikimedia.org/wiki/Cookie_statement',
 'https://wikimediafoundation.org/',
 'https://www.mediawiki.org/']

Find the number of titles that have changed in the United States Code since its last release point: url = 'http://uscode.house.gov/download/download.shtml'

In [47]:
# URL for the United States Code website
url = 'http://uscode.house.gov/download/download.shtml'

# Send a GET request to the website and store the response
response = requests.get(url)

# Parse the HTML content of the page using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find all elements with the class "usctitlechanged"
changed_elements = soup.find_all('div', {'class': 'usctitlechanged'})

# Extract the text from each element and print it
for element in changed_elements:
    print(element.text.strip())

Title 2 - The Congress
Title 3 - The President ٭
Title 5 - Government Organization and Employees ٭
Title 6 - Domestic Security
Title 7 - Agriculture
Title 8 - Aliens and Nationality
Title 10 - Armed Forces ٭
Title 12 - Banks and Banking
Title 14 - Coast Guard ٭
Title 15 - Commerce and Trade
Title 16 - Conservation
Title 18 - Crimes and Criminal Procedure ٭
Title 19 - Customs Duties
Title 20 - Education
Title 21 - Food and Drugs
Title 22 - Foreign Relations and Intercourse
Title 23 - Highways ٭
Title 24 - Hospitals and Asylums
Title 25 - Indians
Title 26 - Internal Revenue Code
Title 29 - Labor
Title 30 - Mineral Lands and Mining
Title 31 - Money and Finance ٭
Title 33 - Navigation and Navigable Waters
Title 34 - Crime Control and Law Enforcement
Title 35 - Patents ٭
Title 36 - Patriotic and National Observances, Ceremonies, and Organizations ٭
Title 38 - Veterans' Benefits ٭
Title 39 - Postal Service ٭
Title 40 - Public Buildings, Property, and Works ٭
Title 41 - Public Contracts ٭
Title 42 - The Public Health and Welfare
Title 43 - Public Lands
Title 44 - Public Printing and Documents ٭
Title 45 - Railroads
Title 46 - Shipping ٭
Title 47 - Telecommunications
Title 48 - Territories and Insular Possessions
Title 49 - Transportation ٭
Title 50 - War and National Defense
Title 51 - National and Commercial Space Programs ٭
Title 54 - National Park Service and Related Programs ٭

Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe: url = 'https://www.emsc-csem.org/Earthquake/'

In [63]:
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By

url = "https://www.emsc-csem.org/Earthquake/"
driver = webdriver.Chrome()
driver.get(url)

count = 0
i = 1
texts = []

while count < 20:
    element_xpath = f"/html/body/div[1]/div[7]/table[2]/tbody/tr[{i}]/td[4]/b/a"
    try:
        element = driver.find_element(By.XPATH, element_xpath)
        text = element.text.strip()
        texts.append(text)
        count += 1
    except NoSuchElementException:
        pass
    i += 1

print(texts)

driver.quit()

['2023-03-02   02:35:25.5', '2023-03-02   02:26:27.9', '2023-03-02   02:19:41.1', '2023-03-02   02:07:07.0', '2023-03-02   01:51:46.0', '2023-03-02   01:30:29.6', '2023-03-02   01:18:49.1', '2023-03-02   01:16:15.6', '2023-03-02   01:15:44.8', '2023-03-02   00:54:05.0', '2023-03-02   00:38:17.9', '2023-03-02   00:37:27.8', '2023-03-02   00:16:10.1', '2023-03-02   00:05:17.0', '2023-03-01   23:43:20.1', '2023-03-01   23:27:30.0', '2023-03-01   23:17:47.0', '2023-03-01   23:08:40.8', '2023-03-01   23:05:25.3', '2023-03-01   22:58:11.7']

In [66]:
DateTime = texts

In [67]:
# /html/body/div[1]/div[7]/table[2]/tbody/tr[{i}]/td[5]

url = "https://www.emsc-csem.org/Earthquake/"
driver = webdriver.Chrome()
driver.get(url)

count = 0
i = 1
texts = []
# 
while count < 20:
    element_xpath = f"/html/body/div[1]/div[7]/table[2]/tbody/tr[{i}]/td[5]"
    try:
        element = driver.find_element(By.XPATH, element_xpath)
        text = element.text.strip()
        texts.append(text)
        count += 1
    except NoSuchElementException:
        pass
    i += 1

print(texts)

driver.quit()

['38.25', '37.99', '38.14', '9.15', '37.40', '38.20', '19.83', '46.26', '38.08', '38.28', '18.80', '38.10', '22.95', '13.16', '41.03', '1.72', '36.06', '2.84', '38.20', '38.02']

In [68]:
latitud_number = texts
latitud_number

['38.25',
 '37.99',
 '38.14',
 '9.15',
 '37.40',
 '38.20',
 '19.83',
 '46.26',
 '38.08',
 '38.28',
 '18.80',
 '38.10',
 '22.95',
 '13.16',
 '41.03',
 '1.72',
 '36.06',
 '2.84',
 '38.20',
 '38.02']

In [69]:
# /html/body/div[1]/div[7]/table[2]/tbody/tr[{i}]/td[6]

driver = webdriver.Chrome()
driver.get(url)

count = 0
i = 1
texts = []
# 
while count < 20:
    element_xpath = f"/html/body/div[1]/div[7]/table[2]/tbody/tr[{i}]/td[6]"
    try:
        element = driver.find_element(By.XPATH, element_xpath)
        text = element.text.strip()
        texts.append(text)
        count += 1
    except NoSuchElementException:
        pass
    i += 1

print(texts)

driver.quit()

['S', 'N', 'N', 'N', 'N', 'N', 'N', 'S', 'N', 'N', 'N', 'N', 'N', 'S', 'N', 'S', 'N', 'N', 'N', 'N']

In [71]:
latitud_letter = texts
latitud_letter

['S',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'S',
 'N',
 'N',
 'N',
 'N',
 'N',
 'S',
 'N',
 'S',
 'N',
 'N',
 'N',
 'N']

In [73]:
concatenated_text = " ".join(latitud_number + latitud_letter)

'38.25 37.99 38.14 9.15 37.40 38.20 19.83 46.26 38.08 38.28 18.80 38.10 22.95 13.16 41.03 1.72 36.06 2.84 38.20 38.02 S N N N N N N S N N N N N S N S N N N N'

In [75]:
concatenated_list = []
for i in range(min(len(latitud_number), len(latitud_letter))):
    concatenated_list.append(latitud_number[i] + " " + latitud_letter[i])

concatenated_list

['38.25 S', '37.99 N', '38.14 N', '9.15 N', '37.40 N', '38.20 N', '19.83 N', '46.26 S', '38.08 N', '38.28 N', '18.80 N', '38.10 N', '22.95 N', '13.16 S', '41.03 N', '1.72 S', '36.06 N', '2.84 N', '38.20 N', '38.02 N']

In [78]:
latitude = concatenated_list
latitude

['38.25 S',
 '37.99 N',
 '38.14 N',
 '9.15 N',
 '37.40 N',
 '38.20 N',
 '19.83 N',
 '46.26 S',
 '38.08 N',
 '38.28 N',
 '18.80 N',
 '38.10 N',
 '22.95 N',
 '13.16 S',
 '41.03 N',
 '1.72 S',
 '36.06 N',
 '2.84 N',
 '38.20 N',
 '38.02 N']

In [82]:
driver = webdriver.Chrome()
driver.get(url)

count = 0
i = 1
texts = []
# 
while count < 20:
    element_xpath = f"/html/body/div[1]/div[7]/table[2]/tbody/tr[{i}]/td[7]"
    try:
        element = driver.find_element(By.XPATH, element_xpath)
        text = element.text.strip()
        texts.append(text)
        count += 1
    except NoSuchElementException:
        pass
    i += 1

print(texts)

driver.quit()

['36.41', '38.34', '7.08', '67.15', '38.44', '26.00', '71.02', '38.20', '36.49', '36.50', '99.83', '122.41', '36.97', '38.09', '71.14', '7.01', '21.89', '38.85', '74.04', '37.79']

In [83]:
longitude =texts
longitude

['36.41',
 '38.34',
 '7.08',
 '67.15',
 '38.44',
 '26.00',
 '71.02',
 '38.20',
 '36.49',
 '36.50',
 '99.83',
 '122.41',
 '36.97',
 '38.09',
 '71.14',
 '7.01',
 '21.89',
 '38.85',
 '74.04',
 '37.79']

In [85]:
driver = webdriver.Chrome()
driver.get(url)

count = 0
i = 1
texts = []
# 
while count < 20:
    element_xpath = f"/html/body/div[1]/div[7]/table[2]/tbody/tr[{i}]/td[8]"
    try:
        element = driver.find_element(By.XPATH, element_xpath)
        text = element.text.strip()
        texts.append(text)
        count += 1
    except NoSuchElementException:
        pass
    i += 1

print(texts)

driver.quit()

['E', 'E', 'E', 'W', 'E', 'E', 'W', 'E', 'E', 'E', 'W', 'E', 'E', 'E', 'W', 'E', 'E', 'E', 'W', 'E']

In [86]:
longitude_T =texts
longitude_T

['E',
 'E',
 'E',
 'W',
 'E',
 'E',
 'W',
 'E',
 'E',
 'E',
 'W',
 'E',
 'E',
 'E',
 'W',
 'E',
 'E',
 'E',
 'W',
 'E']

In [88]:
concatenated_list = []
for i in range(min(len(longitude), len(longitude_T))):
    concatenated_list.append(longitude[i] + " " + longitude_T[i])

concatenated_list

['36.41 E',
 '38.34 E',
 '7.08 E',
 '67.15 W',
 '38.44 E',
 '26.00 E',
 '71.02 W',
 '38.20 E',
 '36.49 E',
 '36.50 E',
 '99.83 W',
 '122.41 E',
 '36.97 E',
 '38.09 E',
 '71.14 W',
 '7.01 E',
 '21.89 E',
 '38.85 E',
 '74.04 W',
 '37.79 E']

In [91]:
longitude = concatenated_list
longitude

['36.41 E',
 '38.34 E',
 '7.08 E',
 '67.15 W',
 '38.44 E',
 '26.00 E',
 '71.02 W',
 '38.20 E',
 '36.49 E',
 '36.50 E',
 '99.83 W',
 '122.41 E',
 '36.97 E',
 '38.09 E',
 '71.14 W',
 '7.01 E',
 '21.89 E',
 '38.85 E',
 '74.04 W',
 '37.79 E']

In [89]:
# /html/body/div[1]/div[7]/table[2]/tbody/tr[{i}]/td[12]

driver = webdriver.Chrome()
driver.get(url)

count = 0
i = 1
texts = []
# 
while count < 20:
    element_xpath = f"/html/body/div[1]/div[7]/table[2]/tbody/tr[{i}]/td[12]"
    try:
        element = driver.find_element(By.XPATH, element_xpath)
        text = element.text.strip()
        texts.append(text)
        count += 1
    except NoSuchElementException:
        pass
    i += 1

print(texts)

driver.quit()

['CENTRAL TURKEY', 'EASTERN TURKEY', 'SWITZERLAND', 'SALTA, ARGENTINA', 'EASTERN TURKEY', 'NEAR THE COAST OF WESTERN TURKEY', 'OFF COAST OF TARAPACA, CHILE', 'EASTERN TURKEY', 'CENTRAL TURKEY', 'CENTRAL TURKEY', 'NUEVO LEON, MEXICO', 'NEGROS, PHILIPPINES', 'CENTRAL TURKEY', 'EASTERN TURKEY', 'OFF COAST OF TARAPACA, CHILE', 'SWITZERLAND', 'GREECE', 'EASTERN TURKEY', 'HAITI REGION', 'CENTRAL TURKEY']

In [90]:
Region_name =texts
Region_name

['CENTRAL TURKEY',
 'EASTERN TURKEY',
 'SWITZERLAND',
 'SALTA, ARGENTINA',
 'EASTERN TURKEY',
 'NEAR THE COAST OF WESTERN TURKEY',
 'OFF COAST OF TARAPACA, CHILE',
 'EASTERN TURKEY',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'NUEVO LEON, MEXICO',
 'NEGROS, PHILIPPINES',
 'CENTRAL TURKEY',
 'EASTERN TURKEY',
 'OFF COAST OF TARAPACA, CHILE',
 'SWITZERLAND',
 'GREECE',
 'EASTERN TURKEY',
 'HAITI REGION',
 'CENTRAL TURKEY']

In [92]:
# join all

# DateTime
# Region_name
# longitude
# latitude

df_Earthquake = pd.DataFrame({
    "DateTime": DateTime,
    "longitude": longitude,
    "latitude": latitude,
    "Region_name": Region_name
})

In [93]:
df_Earthquake

,DateTime,longitude,latitude,Region_name
0,2023-03-02 02:35:25.5,36.41 E,38.25 S,CENTRAL TURKEY
1,2023-03-02 02:26:27.9,38.34 E,37.99 N,EASTERN TURKEY
2,2023-03-02 02:19:41.1,7.08 E,38.14 N,SWITZERLAND
3,2023-03-02 02:07:07.0,67.15 W,9.15 N,"SALTA, ARGENTINA"
4,2023-03-02 01:51:46.0,38.44 E,37.40 N,EASTERN TURKEY
5,2023-03-02 01:30:29.6,26.00 E,38.20 N,NEAR THE COAST OF WESTERN TURKEY
6,2023-03-02 01:18:49.1,71.02 W,19.83 N,"OFF COAST OF TARAPACA, CHILE"
7,2023-03-02 01:16:15.6,38.20 E,46.26 S,EASTERN TURKEY
8,2023-03-02 01:15:44.8,36.49 E,38.08 N,CENTRAL TURKEY
9,2023-03-02 00:54:05.0,36.50 E,38.28 N,CENTRAL TURKEY
10,2023-03-02 00:38:17.9,99.83 W,18.80 N,"NUEVO LEON, MEXICO"
11,2023-03-02 00:37:27.8,122.41 E,38.10 N,"NEGROS, PHILIPPINES"
12,2023-03-02 00:16:10.1,36.97 E,22.95 N,CENTRAL TURKEY
13,2023-03-02 00:05:17.0,38.09 E,13.16 S,EASTERN TURKEY
14,2023-03-01 23:43:20.1,71.14 W,41.03 N,"OFF COAST OF TARAPACA, CHILE"
15,2023-03-01 23:27:30.0,7.01 E,1.72 S,SWITZERLAND
16,2023-03-01 23:17:47.0,21.89 E,36.06 N,GREECE
17,2023-03-01 23:08:40.8,38.85 E,2.84 N,EASTERN TURKEY
18,2023-03-01 23:05:25.3,74.04 W,38.20 N,HAITI REGION
19,2023-03-01 22:58:11.7,37.79 E,38.02 N,CENTRAL TURKEY

In [98]:
url = "https://www.wikipedia.org"
response = requests.get(url)

soup = BeautifulSoup(response.text, "html.parser")
strong_elements = soup.find_all("strong")

strong_texts = [element.text for element in strong_elements]

strong_texts

['The Free Encyclopedia',
 'English',
 'Ð\xa0Ñ\x83Ñ\x81Ñ\x81ÐºÐ¸Ð¹',
 'æ\x97¥æ\x9c¬èª\x9e',
 'Deutsch',
 'FranÃ§ais',
 'EspaÃ±ol',
 'Italiano',
 'ä¸\xadæ\x96\x87',
 'Ù\x81Ø§Ø±Ø³Û\x8c',
 'Polski',
 '\n\nDownload Wikipedia for Android or iOS\n\n']

In [99]:
Nombres = strong_texts[1:-1]
Nombres

['English',
 'Ð\xa0Ñ\x83Ñ\x81Ñ\x81ÐºÐ¸Ð¹',
 'æ\x97¥æ\x9c¬èª\x9e',
 'Deutsch',
 'FranÃ§ais',
 'EspaÃ±ol',
 'Italiano',
 'ä¸\xadæ\x96\x87',
 'Ù\x81Ø§Ø±Ø³Û\x8c',
 'Polski']

In [103]:
# /html/body/div[2]/div[{i}]/a/small/bdi

driver = webdriver.Chrome()
driver.get(url)

count = 0
i = 1
texts = []

while i <= 10:
    element_xpath = f"/html/body/div[2]/div[{i}]/a/small/bdi"
    try:
        element = driver.find_element(By.XPATH, element_xpath)
        text = element.text.strip()
        texts.append(text)
        count += 1
    except NoSuchElementException:
        pass
    i += 1

print(texts)

driver.quit()

['', '', '', '', '', '2 488 000+', '1 792 000+', '1 331 000+', '947 000+', '1 552 000+']

Display the top 10 languages by number of native speakers stored in a pandas dataframe: url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [108]:
import requests
from bs4 import BeautifulSoup

url = "https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

table_xpath = "/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[1]/tbody"
table = soup.find("table", {"xpath": table_xpath})

for row in table.findAll("tr"):
    cells = row.findAll("td")
    if len(cells) == 0:
        continue
    columns = [cell.text.strip() for cell in cells]
    print(columns)

AttributeError: 'NoneType' object has no attribute 'findAll'